/* css for Google Homepage */
html, body {
  height: 98.5%;
}

body {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

input, button {
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #222;
}

#form {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #222;
  text-align: center;
  font-size: 14px;
  font-family: Arial, sans-serif;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

/*------FOR SMALL SCREENS----- */
@media only screen and (max-width: 600px) {
  html{
    height: 100vh;
  }

  footer {
    height: 100px;
    width: 95vw;
    margin-left: -10px;
    margin-right: -10px;
  }
  
  #bottom #foot {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    margin-left: -10px;
    margin-right: -10px;
  }

  #f3, #l3 {
    display: flex;
    justify-content: space-evenly;
    
  }

  #name div{
    display: flex;
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    margin-right: 20px;
  }
}
/*------FOR SMALL SCREENS END----- */ 

/*------TOP NAVIGATION START----- */
#top {
  display: flex;
  flex-wrap: wrap;
  padding: 6px;
  height: 60px;
  list-style-type: none;
}

#gmail {
  flex-grow: 4;
}

#gmail a {
  text-align: end;
  font-size: 13px;
}

#images a {
  font-size: 13px;
}

#apps {
  height: 40px;
  width: 40px;
}

#apps-menu a {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  height : 17px;
  width : 17px;
}

.bento-dot {
  width : 4px;
  height: 4px;
  border-radius: 999px;
  background:#5f6368;
  overflow: hidden;
}

#work:hover {
  background-color: #aaaaaa34;
  border-radius: 999px;
  height: 37px;
  width: 37px;
  
}

#shadow {
  margin-top: 2px;
  padding-top: 10px;
}

#github-logo {
  height: 37px;
  width: 37px;
  border-radius: 999px;
  margin-left: -7px;
  margin-top: -2px;
}
#sign {
  margin-top: -7px;
  height:45px;
  width: 45px;
}

#git {
  height: 45px;
  width: 45px;
}
#git:hover {
  background-color: #aaaaaa34;
  border-radius: 999px;
  height: 43px;
  width: 43px;
} 

/*------TOP NAVIGATION END----- */

/*------GOOGLE LOGO START----- */
#google {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

#google img {
  display: flex;
  align-self: center;
}

/*------GOOGLE LOGO END----- */

/*-----FORM START----- */
#magnify {
  margin: auto;
  padding-left: 15px;
}

#glass {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  display: inline-block;
  fill: currentColor;
  position: relative;
}
#form {
  padding: 20px;
}

#form-box {
  position: relative;
  margin: 0 auto;
  padding-top: 6px;
}

#search {
  width: auto;
  max-width: 584px;
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  height: 44px;
  margin: 0 auto;
}

#search:hover {
  border-color: rgba(223,225,229,0);
  box-shadow: 0 1px 6px rgba(32,33,36,.28)
}

#name {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

#name div {
  display: flex;
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
  margin-right: 20px;
}

#name div input {
  background-color: transparent;
  border: none;
  color: rgba(0,0,0,.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: 5px;
  margin-left: 10px;
  height: 34px;
  font-size: 16px;
}

#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

}
#buttons div {
  display: flex;
  justify-content: center;
}

#buttons div input {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
}

#buttons div input:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}
/*-----FORM START----- */

/*------BOTTOM NAVIGATION START----- */
footer {
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -8px; 
}

#foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 47px;
  list-style-type: none;
  padding: 0 20px;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}

#f3, #l3 {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding-top: 5px;
}

#f3 li, #l3 li {
  display: block;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}
#f3 li a, #l3 li a {
color: #70757a;
}

/*------BOTTOM NAVIGATION END----- */