/* css for Google Homepage */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #222;
  text-align: center;
  font-size: 14px;
  font-family: Arial, sans-serif;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

#top {
  display: flex;
  flex-wrap: wrap;
  padding: 6px;
  height: 60px;
  list-style-type: none;
}

#gmail{
  flex-grow: 4;
}

#gmail a{
  text-align: end;
  font-size: 13px;
}

#images a{
  font-size: 13px;
}

#apps {
  height: 40px;
  width: 40px;
}

#apps-menu a{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  height : 17px;
  width : 17px;
}

.bento-dot {
  width : 4px;
  height: 4px;
  border-radius: 999px;
  background:#5f6368;
  overflow: hidden;
}

#work:hover {
  background-color: #aaaaaa34;
  border-radius: 999px;
  height: 37px;
  width: 37px;
  
}

#shadow {
  margin-top: 2px;
  padding-top: 10px;
}

#github-logo {
  height: 37px;
  width: 37px;
  border-radius: 999px;
  margin-left: -6px;
  margin-top: -1px;
}
#sign {
  margin-top: -7px;
  height:45px;
  width: 45px;
}

#git{
  height: 45px;
  width: 45px;
}
#git:hover{
  background-color: #aaaaaa34;
  border-radius: 999px;
  height: 43px;
  width: 43px;
} 