:root {
  --grey: #5f6368;
  --site:#202124;
  --link-light: #70757a;
  --site-content:#4d5156;
  --blue: #1a0dab;
  --blue-visited: #660099;
  --border-bottom: 1px solid #ebebeb;
  --roboto: Roboto, sans-serif;
}

html,
body {
  height: 98.5%;
  font-family: var(--roboto), Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

li {
  list-style: none;
}

.sticky {
  display: flex;
  position:fixed;
  width: 98vw;
}

.padding {
  margin-top: 77px;
  padding-top: 100px;
  background-color: white;  
}


/* ----- HEADER ----- */
header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  background-color: white;
  top: 0;
}

#google-icon {
  display: flex;
  margin-left: 15px;
  justify-content: center;
}

#google-icon img {
  height: 30px;
  width: 92px;
  display: flex;
  align-self:center;
}

#bar {
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  height: 39px;
  border-radius: 24px;
  z-index: 10;
  height: 44px;
  margin-left: 50px;
  display: flex;
  flex-grow: 3;
}

#bar:hover {
  background-color: #fff;
  box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);
  border-color: rgba(223,225,229,0);
}

form, #search, #name, #name div {
  display: flex;
  flex-grow: 1;
}

input {
  background-color: transparent;
  border: none;
  color: rgba(0,0,0,.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  align-self: center;
  flex-grow: 1;
  margin-left: 20px;
  height: 34px;
  font-size: 16px;
  min-width: 500px;
}


#clear span{
  margin-right: 5px;
  height: 24px;
  width: 24px;
  display: inline-block;
  color: var(--link-light);
  fill: currentColor;
  position: relative;
}

#divider {
  border-left: 1px solid #dfe1e5;
  height: 65%;
}

#mic div{
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

#glass-blue span{
  height: 24px;
  width: 24px;
  display: inline-block;
  color: #4285f4;
  fill: currentColor;
  position: relative;
  margin-right: 15px;
  margin-left: 10px;
}

#clear, #mic, #divider, #glass-blue {
  display: flex;
  margin: auto;
  padding: 0 4px;
}

#top-right{
  display: flex;
  align-self:center;
  justify-content: flex-end;
  flex-grow: 3;
}

#settings, #apps {
  display: block;
  height: 100%;
  width: 25px;
  margin: 10px;
}

#settings span, #apps span {
  fill: currentColor;
  color: #3c4043;
}

.shadow:hover {
  background-color: rgba(218,220,224,.5);
  border-radius:  50%;
}


#github-logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

  /* ----- NAVIGATION ----- */



#navigation{
  display: flex;
  padding: 28px;
}

#all {
  display: flex;
  flex-direction: column;
}

#all div {
  display: flex;
}

#blue-bottom {
  display: flex;
  border-bottom: 3px solid #1a73e8;
  padding-bottom: 10px;
}

#left-6 {
  display: flex;
  flex-grow: 3;
  margin-left: 130px;
}

#right-7 {
  display: flex;
  flex-grow: 4;
  padding-left: 60px;
}

#left-6 div {
  display: flex;
  margin-left: 20px;
}

#left-6 #all span svg {
  display: block;
  height: 16px;
  padding-right: 5px;
}

#left-6 div span svg {
  display: block;
  height: 16px;
  padding-right: 5px;
  color: var(--grey);
  fill: currentColor;
}

#more span svg {
  margin-right: -5px;
}

#left-6 div a, #right-7 div a {
  color: var(--grey);
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
}

#nav-border {
  border-bottom: var(--border-bottom);
  margin-top: -28px;
  display: flex;
}

#speed {
  font-family: var(--roboto);
  display: flex;
  margin-left: 198px;
  margin-top: 15px;
  color: var(--link-light);
}

  /* -----RESULTS----- */

#results {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  width: 45%;
}

a {
  text-decoration: none;
}

a h3 {
  color: var(--blue);
  font-size: 20px;
  font-family: Arial, sans-serif;
  font-weight:normal;
  margin-bottom: 5px;
  margin-top: 5px;
}

p{
  margin-top: 5px;
  color: var(--site-content);
  font-size: 14px;
  line-height: 1.58;
}

.link {
  color: var(--site);
  font-size: 14px;
  line-height: 1.58;
}

#ads {
  display: flex;
  flex-wrap: wrap;
}

#ad1 {
  display: flex;
  padding-left: 20px;
}

#ad1 div {
  display: flex;
  flex-wrap: wrap;
  padding-right: 70px;
}

#ad1 div p {
  margin-top: 0px;
}

#ad2 {
  margin-top: 10px;
}

#list {
  flex-direction: column;
  display: flex;
}

ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.link span {
  color: var(--link-light);
}
.down-arrow {
  border-color: var(--link-light) transparent;;
  border-style: solid;
  border-width: 5px 4px 0;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

 /* ----- RELATED SEARCHES ----- */

#related {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  width: 50%;
}

#related h3 {
  display: flex;
  font-size: 22px;
  font-weight: normal;
  line-height: 28px;
  color: var(--site);
  border-bottom: var(--border-bottom);
  padding-bottom: 10px;
}

h4 {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  margin-top: -5px;
}

h4 span {
  display: flex;    
}

h4 span svg {
  display: block;
  line-height: 20px;
  color: #70757a;
  fill: currentColor;
  line-height: 24px;
  width: 24px;
 }

#related-cards{
  display: flex;
}

#related-cards li {
  display: flex;
}

#related-cards li ul {
  padding-left: 10px;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
}

#webflow {
  margin-top: 35px;
  margin-bottom: 40px;
}

#see {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin-top: 10px;
}

#see-more {
  color: #1a0dab;
  border: 1px solid #dadce0;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  width: 300px;
  padding: 7px 11px;
  height: 36px;
  border-radius: 18px;
  background: #ffffff;
}

#see-more:hover {
  background: #f3f3f3;
}

#see-more span svg {
  display: block;
  line-height: 20px;
  fill: currentColor;
  width: 20px;
}

#see-more h5{
  margin-top: 0px;
  display: flex;
  margin-left: 90px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

#feed {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: flex-start;
  width: 50vw;
  padding-top: 40px;
}

#hline {
  border-bottom: var(--border-bottom);
  width: 45vw;
  display: flex;
}

#feedback {
  display: flex;
  align-self: flex-end;
  font-size: 12px;
  color: var(--site-content);
  margin-top: -8px;
}

  /* ----- 8 BUTTONS(RECOMMENDATIONS) ----- */

#eight-buttons {
  display: flex;
  width: 45vw;
  margin-top: 20px;
}

#left-4b, #right-4b {
  display: flex;
  justify-items: center;
}

#left-4b li, #right-4b li {
  display: flex;
  flex-wrap: wrap;
}

#left-4b li ul, #right-4b li ul {
  align-items: center;
  background-color: #f1f3f4;
  border-radius: 100px;
  box-sizing: border-box;
  display: flex;
  margin: 5px 8px;
  max-height: none;
  min-height: 48px;
  min-width: 300px;
  max-width: 300px;
  padding: 0 17px;
  cursor: pointer;
}

.grey-magnify {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='rgba(0,0,0,.54)' d='M20.49 19l-5.73-5.73C15.53 12.2 16 10.91 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.41 0 2.7-.47 3.77-1.24L19 20.49 20.49 19zM5 9.5C5 7.01 7.01 5 9.5 5S14 7.01 14 9.5 11.99 14 9.5 14 5 11.99 5 9.5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  margin: 0px 20px 0px 10px;
}

.ul:hover {
  text-decoration: underline;
}

/* ----- pages ----- */
#pages {
  width: 45vw;
  display: flex;
  padding-left: 210px;
}

table {
  margin: 30px auto;
  text-align: center;
}


#page-nums td {
  font-size: 14px;
  color: #4285f4;
  font-weight: normal;
  cursor: pointer;
}

#page-nums td:hover {
  text-decoration: underline;
}

#next {
  text-align: right;
}

#pages-img  td {
  padding: 0px;
}

#gle {
  width: 83px;
  text-align: start;
}