:root {
  --grey: color: #5f6368;
  --site: color: #202124;
  --site-content: color: #4d5156;
  --blue: color: #1a0dab;
  --blue-visited: color : #660099;
  --roboto: Roboto, sans-serif;
  --rubik: Rubik, sans-serif;
}

html,
body {
  height: 98.5%;
}

body {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}




li {
  list-style: none;
}

.sticky {
  display: flex;
  position: fixed;
  width: 98.7%;
}

.padding {
  margin-top: 77px;
}


/* ----- HEADER ----- */
header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#google-icon {
  display: flex;
  margin-left: 15px;
  justify-content: center;
}

#google-icon img {
  height: 30px;
  width: 92px;
  display: flex;
  align-self:center;
}

#bar {
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  height: 39px;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin-left: 50px;
  display: flex;
  flex-grow: 3;
}

#bar:hover {
  background-color: #fff;
  box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);
  border-color: rgba(223,225,229,0);
}

form, #search, #name, #name div {
  display: flex;
  flex-grow: 1;
}

input {
  background-color: transparent;
  border: none;
  color: rgba(0,0,0,.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  align-self: center;
  flex-grow: 1;
  margin-left: 20px;
  height: 34px;
  font-size: 16px;
  min-width: 500px;
}


#clear span{
  margin-right: 5px;
  height: 24px;
  width: 24px;
  display: inline-block;
  color: #70757a;
  fill: currentColor;
  position: relative;
}

#divider {
  border-left: 1px solid #dfe1e5;
  height: 65%;
}

#mic div{
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

#glass-blue span{
  height: 24px;
  width: 24px;
  display: inline-block;
  color: #4285f4;
  fill: currentColor;
  position: relative;
  margin-right: 15px;
  margin-left: 10px;
}

#clear, #mic, #divider, #glass-blue {
  display: flex;
  margin: auto;
  padding: 0 4px;
}

#top-right{
  display: flex;
  align-self:center;
  justify-content: flex-end;
  flex-grow: 3;
}

#settings, #apps {
  display: block;
  height: 100%;
  width: 25px;
  margin: 10px;
}

#settings span, #apps span {
  fill: currentColor;
  color: #3c4043;
}

.shadow:hover {
  background-color: rgba(218,220,224,.5);
  border-radius:  50%;
}


#github-logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

  /* ----- NAVIGATION ----- */


a {
  text-decoration: none;
}


#navigation{
  display: flex;
  padding: 28px;
}

#all {
  display: flex;
  flex-direction: column;
}

#all div {
  display: flex;
}

#blue-bottom {
  display: flex;
  border-bottom: 3px solid #1a73e8;
  padding-bottom: 10px;
}

#left-6 {
  display: flex;
  flex-grow: 3;
  margin-left: 130px;
}

#right-7 {
  display: flex;
  flex-grow: 4;
  padding-left: 60px;
}

#left-6 div {
  display: flex;
  margin-left: 20px;
}

#left-6 #all span svg {
  display: block;
  height: 16px;
  padding-right: 5px;
}

#left-6 div span svg {
  display: block;
  height: 16px;
  padding-right: 5px;
  color: #5f6368;
  fill: currentColor;
}

#more span svg {
  margin-right: -5px;
}

#left-6 div a, #right-7 div a {
  color: #5f6368;
  font-size: 14px;
  font-family: var(--roboto);
  display: flex;
  justify-content: space-evenly;
}

#nav-border {
  border-bottom: 1px solid #ebebeb;
  margin-top: -28px;
  display: flex;
}

#speed {
  font-family: var(--roboto);
  display: flex;
  margin-left: 198px;
  margin-top: 15px;
  color: #70757a;
}

#results {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  width: 57%;
}

#ads {
  display: flex;
}

#ad1 {
  display: flex;
  padding-left: 20px;
}

#ad1 div {
  display: flex;
  flex-wrap: wrap;
  padding-right: 70px;
}

#ad1 div p {
  margin-top: -15px;
}

#list {
  display: flex;
  flex-direction: column;
}






