:root {
  --grey: color: #5f6368;
  --site: color: #202124;
  --site-content: color: #4d5156;
  --blue: color: #1a0dab;
  --blue-visited: color : #660099;
}

html,
body {
  height: 98.5%;
}

body {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  margin-top: 35px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: var(--black);
  text-align: center;
  font-size: 14px;
  font-family: Arial, sans-serif;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

/* ----- HEADER ----- */
#head {
  display: flex;
}

#google-icon {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}

#google-icon img {
  height: 30px;
  width: 92px;
}

#bar {
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  height: 39px;
  width: 690px;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  display: flex;
}

#bar:hover {
  background-color: #fff;
  box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);
  border-color: rgba(223,225,229,0);
}



/*-----FORM START----- 
#bar {
  width: auto;
  display: flex;
}

#bar div, #bar div div {
  display: flex;
}

form {
  min-width: 805px;
}

#magni-left {
  
}

#magnify {
  margin: auto;
  padding-left: 15px;
}

#divider {
  border-left: 1px solid #dfe1e5;
  height: 65%;
}

#glass {
  margin-top: 3px;
  height: 20px;
  width: 20px;
  display: inline-block;
  color: #4285f4;
  fill: currentColor;
  position: relative;
}

#search {
  width: auto;
  max-width: 584px;
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  height: 44px;
  margin: 0 auto;
}

#search:hover {
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

#name {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

#name div {
  display: flex;
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
  margin-right: 20px;
}

#name div input {
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: 5px;
  margin-left: 10px;
  height: 34px;
  font-size: 16px;
}

#settings a span svg {
  display: block;
  height: 100%;
  width: 25px;
}

#settings a:hover {
  background-color: rgba(218,220,224,.5);
  border-radius:  50%;
  width: 25px;
}

#apps a span svg {
  display: block;
  height: 100%;
  width: 25px;
}

#apps a:hover {
  background-color: rgba(218,220,224,.5);
  border-radius:  50%;
  width: 25px;
}

#github-logo {
  height: 37px;
  width: 37px;
  border-radius: 999px;
  margin-left: -7px;
  margin-top: -2px;
}
#sign {
  margin-top: -7px;
  height:45px;
  width: 45px;
}

#git {
  height: 45px;
  width: 45px;
}
#git:hover {
  background-color: #aaaaaa34;
  border-radius: 999px;
  height: 43px;
  width: 43px;
} 
*/